.hero__image {
    height: 90vh;
}

.nav {
    background-color: #c12029;
    padding: 1.5rem;
}

.nav ul li {
    display: inline;
    margin: 0 1.5rem;
    color: white;
}

.bg-image {
  /* The image used */
  background-image: url(../images/my-image.jpeg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
    text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
} 

.btn__text {
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
} 

.btn--big {
    font-size: 28px;
    padding: 10px;
    font-weight: 400;
}

.btn--white {
    color:white;
}

.btn--orange {
    color:orange;
}

#logo {
    color: yellow;
}

p {
    color: pink;
    font-size: 1.5rem;
}


p.big {
    font-size: 3rem;
}

/* li a {
    color: white;
} */

a.white {
    color: white;
}

body {
    margin: 0px;
}

figure {
    margin: 0px;
}

section {
    background-color: green;
    width: 500px;
    margin: 5px auto; 
    padding: 1.5rem
}

footer {
    margin-bottom: 0px;
}